* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}
.nav {
  display: flex;
  width: 100%;
}
.mainnav {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(224, 36, 19);
}
.mainnav > * {
  margin: 1% 4%;
  font-size: 28px;
  font-weight: bolder;
}
.mainnav > :hover {
  color: blue;
}
.mainnav > .active {
  color: blue;
}
